<header class="header">
  <a [routerLink]="['/home']" class="header__logo">
    <h1><img src="./assets/audsat-logo.svg" alt="" /></h1>
  </a>
  <nav class="header__navbar">
    <ul class="header__navbar-list">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
      </li>
      <li>
        <a [routerLink]="['/users']" routerLinkActive="active-link">Usuários</a>
      </li>
      <li>
        <a [routerLink]="['/logs']" routerLinkActive="active-link">Logs</a>
      </li>
    </ul>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="header__navbar-button"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a
          [routerLink]="['/home']"
          routerLinkActive="active-link"
          class="header__navbar-link"
          >Home</a
        >
      </button>
      <button mat-menu-item>
        <a
          [routerLink]="['/users']"
          routerLinkActive="active-link"
          class="header__navbar-link"
          >Usuários</a
        >
      </button>
      <button mat-menu-item>
        <a
          [routerLink]="['/logs']"
          routerLinkActive="active-link"
          class="header__navbar-link"
          >Logs</a
        >
      </button>
    </mat-menu>
  </nav>
</header>
