<mat-card *ngIf="posts?.length">
  <div
    *ngFor="let post of posts"
    class="post"
    (click)="selectPost(post.id)"
    [class.active]="post.id === activePost"
  >
    <app-button
      class="post__exclude-button"
      *ngIf="post.id === activePost"
      (click)="deletePost($event, post.id)"
    >
      <mat-icon fontIcon="delete" />
    </app-button>
    <h4>{{ post.title }}</h4>
    <p>{{ post.body }}</p>
    <ng-container
      *ngIf="post.id === activePost && (commets$ | async) as comments"
    >
      <div *ngFor="let comment of comments" class="comment" @dropdownComments>
        <h5>{{ comment.name }}</h5>
        <span>{{ comment.email }}</span>
        <p>{{ comment.body }}</p>
      </div>
    </ng-container>
  </div>
</mat-card>
