:host {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  height: 100%;

  .user {
    height: 100%;

    &__content {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      flex: 1;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    &__data {
      flex: 1;

      @media (max-width: 768px) {
        flex: 0;
      }
    }

    &__posts {
      flex: 2;
      max-height: calc(100vh - 10rem);
      overflow: auto;

      @media (max-width: 768px) {
        flex: 1;
        max-height: calc(100vh - 25rem);
      }
    }
  }
}
