<form [formGroup]="filter">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Usuário</mat-label>
    <input matInput placeholder="Usuário" formControlName="username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="Telefone" formControlName="phone" />
  </mat-form-field>
  <app-button (click)="onSearch()">
    <mat-icon fontIcon="search"></mat-icon>
  </app-button>
</form>
